html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.pagehome_container__1oVUY {
  padding: 0 2rem;
}

.pagehome_main__HQp_B {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.pagehome_footer__7aTrv {
  display: flex;

  
}

.pagehome_footerbg__e1HD_ {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/footer.1302d7d1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 520px;
	height: 145px;
	position: absolute;
	left: 200px;
	top: 560px;
}

.pagehome_blank__9mQcp {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/footer.1302d7d1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 520px;
	height: 145px;
	position: absolute;
	left: 200px;
	top: 600px;
}

.pagehome_title__cGLW9 a {
  color: #0070f3;
  text-decoration: none;
}

.pagehome_title__cGLW9 a:hover,
.pagehome_title__cGLW9 a:focus,
.pagehome_title__cGLW9 a:active {
  text-decoration: underline;
}

.pagehome_title__cGLW9 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.pagehome_title__cGLW9,
.pagehome_description__A8am4 {
  text-align: center;
}

.pagehome_description__A8am4 {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.pagehome_code__PmbG6 {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.pagehome_grid__upGE8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.pagehome_card__1omE_ {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.pagehome_card__1omE_:hover,
.pagehome_card__1omE_:focus,
.pagehome_card__1omE_:active {
  color: #0070f3;
  border-color: #0070f3;
}

.pagehome_card__1omE_ h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.pagehome_card__1omE_ p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagehome_logo__YtS0i {
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/icon.79b05d0d.png);
	height: 50px;
	width: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	margin-left: 85px;

}

.pagehome_homepage__TbwBr {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	width: 900px;
	height: 600px;
	transform: scale(1);
}

.pagehome_homepageImg__O6Ap9 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/homepageImg.9c352f70.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 608px;
	height: 500px;
}

.pagehome_connectBtn__AxdQb {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn1.eb0fa597.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 450px;
}

.pagehome_connectBtn__AxdQb:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn1.eb0fa597.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 450px;
}

.pagehome_connectBtn__AxdQb:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn3.4b3874f4.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 450px;
}

.pagehome_loadingBtn__5YFvH {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 450px;
}

.pagehome_loading__Sv0sH {
	display: block;
  background-image: url(/04-zkapp-browser-ui/_next/static/media/loading.def9b689.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 300px;
	height: 300px;
	position: absolute;
	left: 305px;
	top: 50px;
}

.pagehome_getLoading__DVO_h {
	display: block;
 background-image: url(/04-zkapp-browser-ui/_next/static/media/loading.def9b689.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 280px;
	height: 280px;
	position: absolute;
	left: 315px;
	top: 150px;
}

.pagehome_sendLoading__1nr9y {
	display: block;
 background-image: url(/04-zkapp-browser-ui/_next/static/media/loading.def9b689.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 250px;
	position: absolute;
	left: 330px;
	top: 110px;
}

.pagehome_sendCheck__SrSLJ {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 43px;
	height: 35px;
	position: absolute;
	left: 295px;
	top: 325px;
}

.pagehome_sendDone__OONRg {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 120px;
	position: absolute;
	left: 330px;
	top: 170px;
}

.pagehome_caution__NLU2_ {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 180px;
	height: 155px;
	position: absolute;
	left: 370px;
	top: 120px;
}

.pagehome_succes__cuya8 {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 180px;
	height: 180px;
	position: absolute;
	left: 370px;
	top: 120px;
}

.pagehome_statusTxt__3x3Tf {
	display: block;
	position: absolute;
	left: 300px;
	top: 300px;
	color: white;
	font-size: 15px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.pagehome_statusSendTxt__ktkxc {
	display: block;
	position: absolute;
	left: 340px;
	top: 320px;
	color: white;
	font-size: 18px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.pagehome_walletLink__FRQjf {
	display: block;
	position: absolute;
	left: 390px;
	top: 370px;
	color: white;
	font-size: 20px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.pagehome_walletTxt__fCYHi {
	display: block;
	position: absolute;
	left: 210px;
	top: 350px;
	color: white;
	font-size: 15px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.pagehome_faucetTxt__lJoHZ {
	display: block;
	position: absolute;
	left: 215px;
	top: 350px;
	color: white;
	font-size: 15px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.pagehome_faucetHere__MDySh {
	display: block;
	position: absolute;
	left: 390px;
	top: 370px;
	color: white;
	font-size: 20px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.pagehome_backNoAccount__mX2rH {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.pagehome_backNoAccount__mX2rH:hover {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.pagehome_backNoWallet__uEyJ5 {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.pagehome_backNoWallet__uEyJ5:hover {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.pagehome_sendBtn__G3dkL {
	display: block;
	background-color: aqua;
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 400px;
}

.pagehome_sendBtn__G3dkL:hover {
	display: block;
	background-color: aqua;
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 400px;
}

.pagehome_sendBtn__G3dkL:active {
	display: block;
	background-color: aqua;
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 400px;
}

.pagehome_sendBtnDisable__Ndm7K {
	display: block;
	background-color: red;
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 400px;
}

.pagehome_getBtn__YfGE9 {
	display: block;
	background-color: blue;
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 400px;
}

.pagehome_getBtn__YfGE9:hover {
	display: block;
	background-color: blue;
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 400px;
}

.pagehome_getBtn__YfGE9:active {
	display: block;
	background-color: green;
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 400px;
}

.pagehome_getBtnDisable__Trz3u {
	display: block;
	background-color: red;
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 400px;
}

.pagehome_txtState__bKFvQ {
	display: block;
	position: absolute;
	left: 330px;
	top: 210px;
	color: white;
	font-size: 20px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.pagehome_numState__POzpf {
	display: block;
	position: absolute;
	left: 360px;
	top: 200px;
	color: white;
	font-size: 80px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.pagehome_txtAddrs__5Qeck {
	display: block;
	position: absolute;
	left: 285px;
	top: 350px;
	color: white;
	font-size: 12px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.pagehome_addrs__ZnRCV {
	display: block;
	position: absolute;
	left: 220px;
	top: 350px;
	color: white;
	font-size: 13px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.pagehome_getscreen__yxFfe{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	width: 900px;
	height: 600px;
}

.pagehome_getscreenBlack__3H7MR {
	display: block;
	display: flex;
	background-color: black;
	background-size: repeat;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
 transform: scale(1.5); /* you can change the value also */
   transform-origin: center;
}

.pagehome_getscreenImg__YWFMf {
	display: block;
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	width: 380px;
	height: 280px;
	position: absolute;
	left: 260px;
	top: 150px;
}

.pagehome_sendscreen__dbNQy{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	width: 900px;
	height: 600px;
}

.pagehome_sendscreenBlack__gIb5I {
	display: block;
	display: flex;
	background-color: black;
	background-size: repeat;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
 transform: scale(1.5); /* you can change the value also */
   transform-origin: center;
}

.pagehome_sendscreenImg__GHPzk {
	display: block;
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 330px;
	position: absolute;
	left: 250px;
	top: 100px;
}


.pagehome_closeGet__mKlKr {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 590px;
	top: 150px;
}

.pagehome_closeGet__mKlKr:hover {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 590px;
	top: 150px;
}

.pagehome_closeSend__gtx5A {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 600px;
	top: 120px;
}

.pagehome_closeSend__gtx5A:hover {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 600px;
	top: 120px;
}

.pagehome_teleIcon__JrauC {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/teleicon1.ed6b80dc.jfif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 70px;
	position: absolute;
	left: 280px;
	top: 600px;
}

.pagehome_dcIcon__Z9H8F {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/dcicon1.abe14603.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 70px;
	position: absolute;
	left: 380px;
	top: 600px;
}

.pagehome_fbIcon__SUlXd {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/fbicon1.c0839c63.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 70px;
	position: absolute;
	left: 480px;
	top: 600px;
}

.pagehome_gitIcon__IBhHn {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/giticon1.f0da38d6.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 70px;
	position: absolute;
	left: 580px;
	top: 600px;
}


@media (max-width: 600px) {
  .pagehome_grid__upGE8 {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .pagehome_card__1omE_,
  .pagehome_footer__7aTrv {
    border-color: #222;
  }
  .pagehome_code__PmbG6 {
    background: #111;
  }
  .pagehome_logo__YtS0i img {
  }
   
  
}
